/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2016, 3:47:58 PM
    Author     : Colin
*/
@font-face {
    font-family: Oleo;
    src: url(Oleo.woff);
}

header{
    height:55px;
    border:1pt solid lightgrey;
    background-color:rgb(237,237,237);
}

#moviereelphoto {
    width:45px;
    margin-top:3px;
    float:left;
}

header span {
    float:left;
    font-family:Oleo;
    font-size:22px;
    position:relative;
    margin-left:10px;
    line-height:55px; 
    text-transform:uppercase;
}

div searchbox {
    position:relative;
    margin-left:35px;
    width:470px;
    top:-43px;
    left:230px;
}

#searchtextfield {
    width:405px;
    height:25px;
    border:1px solid grey;
    color:grey;     
    background-color:white;
}

#searchbutton {
    color:white;
    background-color: rgb(24,116,205);
    height:30px;
}

div.viewoptions {
    height:55px;
}   

sortby {
    position:relative;
    line-height:55px;
    margin-left:5px;
}

sortbyoptions {
    height:25px;
}

#listicon {
    position:relative;
    top:12px;
    float:right;
}

#gridicon {
    position:relative;
    top:12px;
    left:1055px;
    top:9px;
}